body {
  margin: 0 auto;
  background-color: #FFFFFF; }

.l__flex, .l__flex--start, .landing-logo, .l__flex--space-between, .section_card_wrap, .section_banner, .footer-wrap {
  display: flex; }

.l__flex--start, .landing-logo {
  justify-content: flex-start; }

.l__flex--align-center, .l__flex--start, .landing-logo, .section_banner, .footer-wrap {
  align-items: center; }

.l__flex--space-between, .section_card_wrap, .section_banner, .footer-wrap {
  justify-content: space-between; }

.header {
  height: 100vh;
  color: #2C2F3C;
  background-image: url(../img/m-h-day.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 30em/15em 0; }
  .header-wrap {
    max-width: 50%;
    padding: 20px 130px 35px; }
  .header_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 40px;
    line-height: 1;
    position: relative;
    z-index: 1; }
    .header_heading:before {
      content: '';
      display: block;
      position: absolute;
      height: 10px;
      z-index: -1;
      background: #14a0c7;
      width: 271px;
      height: 20px;
      bottom: 3px; }
  .header_text {
    color: #2C2F3C;
    white-space: pre-line;
    font-family: "Hind", sans-serif;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-weight: 400; }
  .header_button {
    width: 127px;
    height: 45px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #699900;
    transition: .4s;
    margin-top: 40px; }
    .header_button:hover {
      cursor: pointer; }

.landing-logo {
  height: 50px; }
  .landing-logo p {
    margin-left: 7px;
    font-family: "Hind", sans-serif;
    text-align: center;
    width: 75px;
    font-weight: 600;
    font-size: 24px;
    line-height: 0.5; }
  .landing-logo span {
    font-weight: 400;
    font-size: 10px;
    display: inline-block; }
  .landing-logo img {
    display: flex;
    width: 40px; }

.section {
  text-align: center;
  position: relative;
  background: #FFFFFF; }
  .section_text {
    font-size: 26px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 30px auto;
    color: #2C2F3C;
    font-weight: 600;
    display: inline-block;
    position: relative;
    z-index: 1; }
    .section_text:after {
      content: '';
      display: block;
      position: absolute;
      height: 10px;
      z-index: -1;
      background: #14a0c7;
      width: 119px;
      right: 6px;
      bottom: 3px; }
  .section_card {
    background-color: #21232E;
    width: 40%;
    margin: 0 9px;
    border-radius: 5px; }
    .section_card_img {
      border-radius: 5px;
      min-height: 205px;
      max-height: 205px;
      margin-top: 20px; }
    .section_card_heading {
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 20px;
      margin: 6px auto 16px;
      position: relative;
      display: inline-block;
      z-index: 1; }
      .section_card_heading:before {
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        z-index: -1;
        background: #14a0c7;
        width: 100%;
        top: 15px; }
    .section_card_text {
      color: #C0C3CE;
      text-align: center;
      font-family: "Hind", sans-serif;
      font-size: 14px;
      margin: 0 17px 15px 17px;
      line-height: 1.5; }
    .section_card_wrap {
      padding: 0 122px 0 122px; }
  .section_banner {
    border-radius: 5px;
    background: linear-gradient(to right, #639314, #2D5BDA);
    padding: 5px 60px;
    background-color: green;
    position: relative;
    max-width: 50%;
    margin: 0 auto;
    top: 60px; }
    .section_banner_button {
      width: 127px;
      height: 45px;
      color: #fff;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      background-color: #699900;
      transition: .4s; }
      .section_banner_button:hover {
        cursor: pointer; }
    .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #21232E;
      position: relative;
      z-index: 1; }
      .section_banner_heading:before {
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        z-index: -1;
        background: #14a0c7;
        width: 50px;
        left: 96px;
        bottom: 4px; }
    .section_banner_text {
      font-family: "Hind", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #2C2F3C; }
      .section_banner_text_wrap {
        text-align: left; }

.footer {
  padding: 40px 130px 0;
  background-color: #21232E;
  color: #C0C3CE; }
  .footer-wrap {
    font-family: "Hind", sans-serif;
    font-size: 14px;
    height: 200px; }
  .footer_text {
    max-width: 300px; }
  .footer-cr {
    padding-right: 20px; }
