$mainThemeBG: #21232E;
$buttonColor: #E3AC00;
$underlineColor: #ff4E33;
$bannerBG: linear-gradient(to right, #e0a704, #942e51);
$headerBG: url(../img/m-h-night.jpg);
$colorSecondary: #3B3F50;
$blockTextColor: #D1D1D1;
$textColor: #FFFFFF;
$mainFont: 'Source Sans Pro', sans-serif;
$textLogoFont: 'Fresca', sans-serif;
$font-weight: (
	'normal': 400,
	'semibold': 600,
	'bold': 700
);