body {
	margin: 0 auto;
	background-color: $mainThemeBG;
}

@mixin button {
	width: 127px;
	height: 45px;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	background-color: $buttonColor;
	transition: .4s;

	&:hover {
		cursor: pointer;
	}
}
@mixin underline {
	content: '';
	display: block;
	position: absolute;
	height: 10px;
	z-index: -1;
	background: $underlineColor;
}

@mixin font-size ($size) {
	font-size: $size;
}

.l__flex {
	display: flex;
}

.l__flex--start {
	@extend .l__flex;
	@extend .l__flex--align-center;
	justify-content: flex-start;
}

.l__flex--align-center {
	align-items: center;
}

.l__flex--space-between {
	@extend .l__flex;
	justify-content: space-between;
}

.header {
	height: 100vh;
	color: $textColor;
	background-image: $headerBG;
	width: 100%;
	background-position: center;
	background-size: cover;
	border-radius: 0 0 30em/15em 0;

	&-wrap {
		max-width: 50%;
		padding: 20px 130px 35px;
	}

	&_heading {
	  	font-family: $mainFont;
		font-size: 65px;
		font-weight: map-get($font-weight, bold);
		margin-bottom: 30px;
		margin-top: 40px;
	    line-height: 1;
	    position: relative;
	    z-index: 1;

	    &:before {
	    	@include underline;
	    	width: 271px;
		    height: 20px;
		    bottom: 3px;
	    }
	}

	&_text {
		color: $textColor;
		white-space: pre-line;
		font-family: $textLogoFont;
		font-size: 13px;
		line-height: 1.6;
		letter-spacing: 0.05em;
		font-weight: map-get($font-weight, normal);
	}

	&_button {
		@include button;
		margin-top: 40px;
    }
}

.landing-logo {
	height: 50px;
	@extend .l__flex--start;

	p {
		margin-left: 7px;
		font-family: $textLogoFont;
		text-align: center;
   		width: 75px;
   		font-weight: 600;
    	font-size: 24px;
    	line-height: 0.5;
	}
	span{
		font-weight: 400;
    	font-size: 10px;
    	display: inline-block;
	}

	img {
		display: flex;
		width: 40px;
	}
}

.section {
	text-align: center;
	position: relative;
	background: $mainThemeBG;

	&_text{
		@include font-size(26px);
		font-family: $mainFont;
		margin: 30px auto;
		color: $textColor;
		font-weight: map-get($font-weight, semibold);
		display: inline-block;
		position: relative;
		z-index: 1;

		&:after {
			@include underline;
		    width: 119px;
		    right: 6px;
		    bottom: 3px;
		}
	}

	&_card {
		background-color: $colorSecondary;
		width: 40%;
		margin: 0 9px;
		border-radius: 5px;

		&_img {
			border-radius: 5px;
		    min-height: 205px;
		    max-height: 205px;
		    margin-top: 20px;
		}

		&_heading {
			color: #fff;
			font-family: $mainFont;
			font-weight: 600;
			font-size: 20px;
			margin: 6px auto 16px;
			position: relative;
			display: inline-block;
			z-index: 1;

			&:before {
				@include underline;
				width: 100%;
				top: 15px;
			}
		}

		&_text {
			color: $blockTextColor;
			text-align: center;
			font-family: $textLogoFont;
			font-size: 14px;
			margin: 0 17px 15px 17px;
			line-height: 1.5;
		}
	
		&_wrap {
			padding: 0 122px 0 122px;
			@extend .l__flex--space-between;
		}
	}

	&_banner {
		border-radius: 5px;
		background: $bannerBG;
		padding: 5px 60px;
		background-color: green;
		position: relative;
		max-width: 50%;
		margin: 0 auto;
		top: 60px;
		@extend .l__flex--space-between;
		@extend .l__flex--align-center;

		&_button {
			@include button;
		}
		&_heading{
			font-family: $mainFont;
			@include font-size(24px);
			font-weight: map-get($font-weight, bold);
			color: $colorSecondary;
			position: relative;
			z-index: 1;

			&:before {
				@include underline;
				width: 50px;
			    left: 96px;
			    bottom: 4px;
			}
		}

		&_text{
			font-family: $textLogoFont;
			@include font-size(14px);
			font-weight: map-get($font-weight,normal);
			color: $textColor;

			&_wrap {
				text-align: left;
			}

		}
	}
}
.footer {
	padding: 40px 130px 0;
	background-color: $colorSecondary;
	color: #C0C3CE;
	&-wrap {
		font-family: $textLogoFont;
		@include font-size(14px);
		height: 200px;
		@extend .l__flex--space-between;
		@extend .l__flex--align-center;
	}
	&_text{
		max-width: 300px;
	}
	&-cr {
		padding-right: 20px;
	}
}