$mainThemeBG: #FFFFFF;
$buttonColor: #699900;
$underlineColor: #14a0c7;
$bannerBG: linear-gradient(to right, #639314, #2D5BDA);
$headerBG: url(../img/m-h-day.jpg);
$colorSecondary: #21232E;
$blockTextColor: #C0C3CE;
$textColor: #2C2F3C;
$mainFont: 'Source Sans Pro', sans-serif;
$textLogoFont: 'Hind', sans-serif;
$font-weight: (
	'normal': 400,
	'semibold': 600,
	'bold': 700
);